<table border="2">
  <thead>
    <tr>
      <th>ID</th>
      <th>Department Name</th>
      <th>Budget</th>
      <th>EstYear</th>
      <th>-</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let deptItem of deptArray">
      <td>
        {{ deptItem.deptId }}
      </td>
      <td>{{ deptItem.deptName }}</td>
      <td>{{ deptItem.deptBudget }}</td>
      <td>{{ deptItem.deptEstYear }}</td>
      <!-- <td><img src="{{deptItem.imageUrl}}"/></td> property binding -->
      <!-- attribute binding -->
      <td><img [src]="deptItem.imageUrl" /></td>
    </tr>
  </tbody>
</table>
<hr />
<br /><br />
<!-- <section class="myDepartment">
    <figure>
        <h2>Id: {{deptArray.deptId}}</h2>
        <img [src]="deptArray.imageUrl">
        <figcaption><h3>{{deptArray.deptName}}</h3></figcaption>
    </figure>
    <div>
        <p>This is depatment is established in year <b>{{deptArray.deptEstYear}}</b></p>
        <p>Year budget of depatment is <b>{{deptArray.deptBudget}}</b></p>
    </div>
</section> -->

<article class="flexContainer">
  <section class="myDepartment" *ngFor="let depart of deptArray">
    <figure>
      <h2>Id: {{ depart.deptId }}</h2>
      <img [src]="depart.imageUrl" />
      <figcaption>{{ depart.deptName }}</figcaption>
    </figure>
    <div>
      <p>
        This is depatment is established in year <b>{{ depart.deptEstYear }}</b>
      </p>
      <p>
        Year budget of depatment is <b>{{ depart.deptBudget }}</b>
      </p>
    </div>
  </section>
</article>
<hr />
<br /><br />

<section>
  <label>Enter Department name : </label>
  <input
    type="text"
    [(ngModel)]="department.deptName"
    (keyup)="Display()"
    #nameNode
  />
  <!-- <button (click)="passVal(nameNode)" #btnNode>Save</button> pass node id -->
  <button (click)="passVal(nameNode)">Save</button>
</section>

<hr />
<br /><br />

<section>
  <label>Department Id : </label>
  <input
    type="text"
    [(ngModel)]="department.deptId"
    (focus)="Display()"
    #deptIdNode
  />
  <label>Department Name : </label>
  <input type="text" [(ngModel)]="department.deptName" #deptNameNode />
  <label>Department yearly Budget : </label>
  <input type="text" [(ngModel)]="department.deptBudget" #budgetNode />
  <label>Department Established Year : </label>
  <input type="text" [(ngModel)]="department.deptEstYear" #EstYearNode />
  <label>Department Image : </label>
  <input type="text" [(ngModel)]="department.imageUrl" #imgNode />
  <button
    (click)="
      addDeparment(
        deptIdNode.value,
        deptNameNode.value,
        budgetNode.value,
        EstYearNode.value,
        imgNode.value
      )
    "
  >
    ADD DEPARMENT
  </button>

  <br />
  <label>Test Fields</label>
  <input type="checkbox" (change)="test()" />
  <hr />
  <br />
  <table border="3">
    <tr>
      <td *ngFor="let st of stationArray">{{ st }}</td>
    </tr>
  </table>
  <select [(ngModel)]="station" (change)="addStation()">
    <option value="Thane">THANE</option>
    <option value="Pune">PUNE</option>
    <option value="Bhiwandi">BHIWANDI</option>
  </select>
</section>

<section>
  <select [(ngModel)]="station" (change)="addStation()">
    <option value="Rabale">RABALE</option>
    <option value="Ghansoli">GHANSOLI</option>
    <option value="Kopar">KOPAR</option>
    <option value="Turbhe">TURBHE</option>
  </select>
</section>

<section>
  <table border="3">
    <tr>
      <td *ngFor="let st of stationArray">{{ st }}</td>
    </tr>
  </table>
  <select [(ngModel)]="station" (change)="addStation()">
    <option value="Rabale">RABALE</option>
    <option value="Ghansoli">GHANSOLI</option>
    <option value="Kopar">KOPAR</option>
    <option value="Turbhe">TURBHE</option>
  </select>
</section>
<hr />
<br /><br />
<section>
  <input type="number" [(ngModel)]="age" [ngClass]="styleArray" />
  <span *ngIf="age >= 18; then thenfield; else elsefield">OK</span>
  <ng-template #thenfield>
    <p>You are allowed for voting</p>
  </ng-template>
  <ng-template #elsefield>
    <p>You are NOT allowed for voting</p>
  </ng-template>
  <button type="submit" (click)="AddStyle()">add</button>
  <button type="submit" (click)="RemoveStyle()">remove</button>
</section>
<hr />
<br /><br />
<!-- if else structural directive -->
<section>
  <input type="number" [(ngModel)]="age" />
  <span *ngIf="age >= 18; then thenfield; else elsefield">OK</span>
  <ng-template #thenfield>
    <p
      [ngStyle]="{
        borderColor: bColor,
        borderWidth: '3px',
        borderStyle: 'double'
      }"
    >
      You are allowed for voting
    </p>
  </ng-template>
  <ng-template #elsefield>
    <p>You are NOT allowed for voting</p>
  </ng-template>
</section>

<!--  50000 100000 : LB
      100001 500000 : MB
    500001    10000000 : HB   by using ng-switch structural directive-->

<table border="3" [ngStyle]="myStyle">
  <tbody>
    <tr *ngFor="let depart of deptArray">
      <td>{{ depart.deptId }}</td>
      <td>{{ depart.deptName }}</td>
      <td>{{ depart.deptBudget }}</td>
      <td>{{ depart.deptEstYear }}</td>
      <td>
        <span [ngSwitch]="true">
          <b
            *ngSwitchCase="
              depart.deptBudget >= 50000 && depart.deptBudget <= 100000
            "
            >LB</b
          >
          <b
            *ngSwitchCase="
              depart.deptBudget >= 100001 && depart.deptBudget <= 5000000
            "
            >MB</b
          >
          <b
            *ngSwitchCase="
              depart.deptBudget >= 5000001 && depart.deptBudget <= 10000000
            "
            >HB</b
          >
          <b *ngSwitchDefault>NA</b>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<!-- if -->
<table border="3">
  <tbody>
    <tr *ngFor="let depart of deptArray">
      <span *ngIf="depart.deptEstYear == 2000">
        <td>{{ depart.deptId }}</td>
        <td>{{ depart.deptName }}</td>
        <td>{{ depart.deptBudget }}</td>
        <td>{{ depart.deptEstYear }}</td>
      </span>
    </tr>
  </tbody>
</table>

<!-- if -then -->
<table
  border="3"
  [ngStyle]="obj"
  (mouseover)="applyStyle()"
  (mouseleave)="clearStyle()"
>
  <tbody>
    <tr *ngFor="let depart of deptArray">
      <span *ngIf="depart.deptEstYear == 2000; then thenpart"></span>
      <ng-template #thenpart>
        <td>{{ depart.deptId }}</td>
        <td>{{ depart.deptName }}</td>
        <td>{{ depart.deptBudget }}</td>
        <td>{{ depart.deptEstYear }}</td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!-- ngrx store -->
<hr />
<br /><br />
<strong> Passing Data from Parent to Child</strong><br />
<strong
  >{{ childData | prefix }}
  <p>{{ childData1 }}</p></strong
>
<!-- for passing event from parent to child and get data from child use () to pass event and event emmiter to pass data -->
<article class="flexContainer">
  <div *ngFor="let item of deptArray">
    <!-- 5 department objects, 5 times child gettting loaded-->
    <app-dept-container
      [department]="item"
      (emitter)="acceptData($event)"
      (emitter1)="acceptData1($event)"
    ></app-dept-container>
  </div>
</article>
<hr />
<br /><br />

<h3>Working with files</h3>

<table border="3">
  <thead>
    <tr>
      <th>Name</th>
      <th>Name lowercase</th>
      <th>Name uppercase</th>
      <th>Name titlecase</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let depart of deptArray">
      <td>{{ depart.deptName }}</td>
      <td>{{ depart.deptName | lowercase }}</td>
      <td>{{ depart.deptName | uppercase }}</td>
      <td>{{ depart.deptName | titlecase }}</td>
      <td>{{ depart.deptBudget }}</td>
      <td>{{ depart.deptEstYear }}</td>
      <td>{{ depart.deptEstDate }}</td>
    </tr>
  </tbody>
</table>

<hr />
<hr />
<table border="3">
  <thead>
    <tr>
      <th>Budget</th>
      <th>Budget normal</th>
      <th>Budget between 2-3 decimal</th>
      <th>Budget 2 decimal</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let depart of deptArray">
      <td>{{ depart.deptBudget }}</td>
      <td>{{ depart.deptBudget | number }}</td>
      <!-- round to 3 digit by default -->
      <td>{{ depart.deptBudget | number : "10.1-3" }}</td>
      <td>{{ depart.deptBudget | number : "12.2-2" }}</td>
    </tr>
  </tbody>
</table>

<hr />
<hr />
<table border="3">
  <thead>
    <tr>
      <th>Budget</th>
      <th>Budget currency</th>
      <th>Budget indian Currency</th>
      <th>Budget US currency</th>
      <th>Budget US currency</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let depart of deptArray">
      <td>{{ depart.deptBudget | currency }}</td>
      <!-- round to 2 digit by default and add $ sign -->
      <td>{{ depart.deptBudget | currency : "INR" }}</td>
      <td>{{ depart.deptBudget | currency : "INR" : "code" }}</td>
      <td>{{ depart.deptBudget | currency : "USD" }}</td>
      <td>{{ depart.deptBudget | currency : "USD" : "code" : "8.2-2" }}</td>
    </tr>
  </tbody>
</table>

<p>{{ 1000.23 | number : "3.2-2" }}</p>
<p>{{ 10000.356 | number : "3.2-2" }}</p>
<table border="3">
  <thead>
    <th>EST DATE</th>
    <th>ESTDATE date</th>
    <th>EST DATE shortDate</th>
    <th>EST DATE longDate</th>
    <th>EST DATE fullDate</th>
    <th>EST DATE dd/MMMM/yyyy</th>
  </thead>
  <tbody>
    <tr *ngFor="let depart of deptArray">
      <td>{{ depart.deptEstDate }}</td>
      <td>{{ depart.deptEstDate | date }}</td>
      <!-- medium date-->
      <td>{{ depart.deptEstDate | date : "shortDate" }}</td>
      <td>{{ depart.deptEstDate | date : "longDate" }}</td>
      <td>{{ depart.deptEstDate | date : "fullDate" }}</td>
      <td>{{ depart.deptEstDate | date : "dd/MMMM/yyyy" }}</td>
    </tr>
  </tbody>
</table>

<hr />
<hr />
<!-- order by pipe -->

<ol>
  <li *ngFor="let color of colorArray | orderBy">{{ color }}</li>
</ol>
<table border="3">
  <thead>
    <th (click)="sortBy('empId')">ID</th>
    <th (click)="sortBy('deptName')">NAME</th>
    <th (click)="sortBy('deptBudget')">BUDGET</th>
    <th (click)="sortBy('deptEstYear')">ES YEAR</th>
    <th (click)="sortBy('deptEstDate')">ES DATE</th>
  </thead>
  <!-- <thead>
    <th (click)="sortBy('deptId')">ID</th>
    <th (click)="sortBy('deptName')">NAME</th>
    <th (click)="sortBy('deptBudget')">BUDGET</th>
    <th (click)="sortBy('deptEstYear')">ES YEAR</th>
    <th (click)="sortBy('deptEstDate')">ES DATE</th>
  </thead> -->
  <tbody>
    <tr
      *ngFor="
        let depart of deptArray
          | orderBy
            : orderObject.sortProperty
            : orderObject.sortOrder
            : orderObject.sortCase
      "
    >
      <td>{{ depart.deptId | prefix : "Neo" | suffix : "Mik" }}</td>
      <td>{{ depart.deptName }}</td>
      <td>{{ depart.deptBudget }}</td>
      <td>{{ depart.deptEstYear }}</td>
      <td>{{ depart.deptEstDate }}</td>
    </tr>
  </tbody>
</table>

<hr />
<br /><br />
<h3>sorting using order pipe</h3>
<table border="3" class="table table-hover">
  <thead>
    <th (click)="sortBy('empId')">ID</th>
    <th (click)="sortBy('deptName')">NAME</th>
    <th (click)="sortBy('deptBudget')">BUDGET</th>
    <th (click)="sortBy('deptEstYear')">ES YEAR</th>
    <th (click)="sortBy('deptEstDate')">ES DATE</th>
  </thead>
  <!-- <thead>
    <th (click)="sortBy('deptId')">ID</th>
    <th (click)="sortBy('deptName')">NAME</th>
    <th (click)="sortBy('deptBudget')">BUDGET</th>
    <th (click)="sortBy('deptEstYear')">ES YEAR</th>
    <th (click)="sortBy('deptEstDate')">ES DATE</th>
  </thead> -->
  <tbody>
    <tr
      *ngFor="
        let depart of deptArray
          | orderBy
            : orderObject.sortProperty
            : orderObject.sortOrder
            : orderObject.sortCase
      "
    >
      <td>{{ depart.deptId | prefix : "Neo" | suffix : "Mik" }}</td>
      <td>{{ depart.deptName }}</td>
      <td>{{ depart.deptBudget }}</td>
      <td>{{ depart.deptEstYear }}</td>
      <td>{{ depart.deptEstDate }}</td>
    </tr>
  </tbody>
</table>

<hr />
<br /><br />
<h3>Slice Pipe</h3>
<table border="3" class="table table-hover">
  <thead>
    <th>NAME</th>
    <th>NAME</th>
    <th>NAME</th>
    <th>NAME</th>
    <th>NAME</th>
    <th>NAME</th>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let depart of deptArray
          | orderBy
            : orderObject.sortProperty
            : orderObject.sortOrder
            : orderObject.sortCase
      "
    >
      <td>{{ depart.deptName | slice : 0 }}</td>
      <td>{{ depart.deptName | slice : 0 : 6 }}</td>
      <td>{{ depart.deptName | slice : -6 : -1 }}</td>
      <td>{{ depart.deptName | slice : -6 }}</td>
      <td>{{ depart.deptName | slice : 3 }}</td>
    </tr>
  </tbody>
</table>

<section>
  <router-outlet></router-outlet>
</section>
