<div class="container">
  <strong>{{ loginMessage }}</strong>
  <form #loginForm="ngForm" (submit)="collectData(loginForm)">
    <!-- template driven form -->
    <div class="row">
      <input
        type="text"
        name="empEmail"
        placeholder="Email or Username"
        ngModel
        required
      />
    </div>
    <div class="row">
      <input
        type="password"
        name="password"
        placeholder="password"
        ngModel
        required
      />
    </div>
    <div class="row">
      <input type="submit" class="mybutton" value="Login" />
    </div>
    <div class="row">
      <a href="#">Forgot password?</a>
      <h5>
        New User??<i><a routerLink="/registeruser">Signup here</a></i>
        <!-- add / in link to take base url as default and append registeruser into link .
        if you doesn't use / then it will append it to existing url  -->
      </h5>
    </div>
  </form>
</div>
