.myRegister {
  background-color: #f5e6d1;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.myRegister:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.form-control1 {
  text-align: left;
  margin-bottom: 25px;
}
.form-control1 input[type="radio"] {
  display: inline-block;
  width: auto;
}
.form-control1 input[type="checkbox"] {
  display: inline-block;
  width: auto;
}
.form-control1 label {
  display: block;
  margin-bottom: 10px;
}

.form-control1 input,
.form-control1 select {
  border: 1px solid #777;
  border-radius: 6px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

.mybutton {
  background-color: rgba(17, 158, 123, 0.685);
  color: aliceblue;
  cursor: pointer;
  /* align-items: center; */
  margin-top: 2%;
  /* display: flexbox;
  float: left;*/
  width: 40%;
  padding: 10px;
  margin-left: 10px;
  /* margin-right: 3px; */
}
.mybutton:hover {
  background-color: rgba(6, 80, 61, 0.425);
}

/* validiation css */
.ng-valid {
  border: 2px solid green;
}
.ng-invalid {
  border: 2px solid red;
}
input.ng-untouched {
  background-color: yellow;
}
input.ng-touched {
  background-color: blueviolet;
}
input.ng-pristine {
  background-color: aqua;
}
input.ng-dirty {
  background-color: burlywood;
}
.errMsg {
  color: red;
  font-style: italic;
}
