<div class="myRegister">
  <form>
    <div class="row">
      <label>Employee Name: </label>
      <input type="text" placeholder="name" />
    </div>
    <div class="input-group row">
      <label>username</label>
      <input type="text" placeholder="username" />
    </div>
    <div class="row">
      <label>Password:</label>
      <input type="password" placeholder="Password" />
    </div>
    <div class="row">
      <label>Email: </label>
      <input type="text" placeholder="Email" />
    </div>
    <div class="row">
      <label>Contact No: </label>
      <input type="text" placeholder="Contact No" />
    </div>
    <div class="row">
      <label>Department:</label>
      <input type="text" placeholder="Department" />
    </div>
    <div>
      <button type="submit" class="mybutton" value="Register">Register</button
      ><button type="reset" class="mybutton" value="Reset">Reset</button>
    </div>
  </form>
</div>
